<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">OK</button>
    </form>

    {% if form_errors %}
        <ul>
        {% for field, errors in form_errors.items %}
            {% for error in errors %}
                <li>{{ field.label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
        </ul>
    {% endif %}
</body>
</html>